#EditProfile {
  display: flex;
  color: #000;
  justify-content: center;
}

#Profile {
  width: 90vw;
  height: 100%;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0.05fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

/* Title: Edit Profile */
.titleEditProfile {
  grid-area: 1 / 1 / 2 / 3;
  align-self: center;
  justify-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.titleEditProfile h1 {
  font-weight: bold;
  color: beige;
}

.containerSection {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* First Mobile - Body: Edit Profile */
.bodyEditProfile {
  grid-area: 2 / 1 / 7 / 3;
  /* background: #3e6c43; */
  background-color: #3e6c439e;
  width: 34vw;
  height: 88vh;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 0.1fr 0.7fr 2.2fr 0.4fr 0.4fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-self: center;
  justify-self: center;
  font-size: small;
  /* box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%); */
  /* border: 2px solid #dfe2d6; */
  box-shadow: #000000 0px 4px 16px, rgb(0 0 0) 0px 8px 32px;
}

.nameUser {
  grid-area: 2 / 1 / 3 / 3;
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3a515e;
  border-radius: 20px;
  width: 20vw;
  height: 7vh;
  margin-top: 10px;
  box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%);
}

.nameUser h3 {
  color: rgb(250, 250, 250);
  text-align: center;
}

/* Card: Interests and Photo Profile */
.profileAndInterest {
  grid-area: 3 / 1 / 4 / 3;
}

.interests {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.interests img {
  width: 40%;
  border: 3px solid rgb(14, 44, 6);
  border-radius: 100%;
  background: #000;
}

/* Photo: Photo Profile */
.photoProfile {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.photoProfile img {
  width: 60%;
  border: 5px solid rgb(10, 24, 6);
  border-radius: 100%;
  box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%);
}

/* Country */
.flag{
  margin-right: 11px;
}

.countryUser {
  grid-area: 4 / 1 / 5 / 3;
  color: rgb(250, 250, 250);
}

.countryUserFlex {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 0 10%;
}

.countryUserFlex h3 {
  margin-right: 15px;
  font-size: medium;
}

.countryUserFlex select {
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  height: 100%;
  padding: 1%;
  box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%);
}
.countryUserFlex option{
  font-weight: bolder;
  background-color: #3a515e;
  color: beige;
  width: 100px;
  font-size: small;
}
/* Bio */
.titleWriteBio {
  grid-area: 5 / 1 / 6 / 3;
  margin: 0 10%;
  color: rgb(250, 250, 250);
  align-items: center;
  display: flex;
}

.bioUser {
  grid-area: 6 / 1 / 7 / 3;
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#texta2 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  resize: none;
  padding: 3%;
  font-weight: bold;
  box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%);
}

.buttonSave {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-size: medium;
}

.buttonSave button {
  width: 200%;
  padding: 2%;
  border-radius: 20px;
  background: #a8a5a5;
}

/* Section select Photo and Interest */
.selectProfile {
  width: 60%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

#selectPhoto {
  /* background-color: #3e6c43; */
  background-color: #3e6c439e;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  padding: 2%;
  /* box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%); */
  box-shadow: #000000 0px 4px 16px, rgb(0 0 0) 0px 8px 32px;
  /* border: 2px solid #dfe2d6; */
}

.img11 {
  position: relative;
  display: inline-block;
}

::-webkit-file-upload-button {
  width: 100%;
  height: 100%;
}
.inputFileProfile {
  position:absolute;
  width: 50%;
  height: 80%;
  z-index: 10;
  border-radius: 100%;
  opacity: 0;
}

.inputFileProfileIcon {
  position:relative;
}

#selectPhoto h2,
#selectInterest h2,
.UpdateProfilePhoto h2 {
  color: white;
  margin: 10px;
  font-size: small;
}

#photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px 1px;
  grid-auto-flow: row;
  grid-template-areas:
    "img0 img1 img2 img3 img4 img5"
    "img6 img7 img8 img9 img10 img11";
}

.img0 img,
.img1 img,
.img2 img,
.img3 img,
.img4 img,
.img5 img,
.img6 img,
.img7 img,
.img8 img,
.img9 img,
.img10 img,
.img11 img{
  width: 70%;
  display: block;
  margin: auto;
  border-radius: 100%;
  border: 3px solid rgb(14, 44, 6);
  background: #000;
  box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%);
}

.img0 img:hover,
.img1 img:hover,
.img2 img:hover,
.img3 img:hover,
.img4 img:hover,
.img5 img:hover,
.img6 img:hover,
.img7 img:hover,
.img8 img:hover,
.img9 img:hover,
.img10 img:hover,
.img11 img:hover{
  border-color: rgb(61, 63, 73);
}


.img0 img{
  grid-area: img0;
}

.img1 img {
  grid-area: img1;
}

.img2 img{
  grid-area: img2;
}

.img3 img{
  grid-area: img3;
}

.img4 img{
  grid-area: img4;
}

.img5 img{
  grid-area: img5;
}

.img6 img{
  grid-area: img6;
}

.img7 img{
  grid-area: img7;
}

.img8 img{
  grid-area: img8;
}

.img9 img{
  grid-area: img9;
}

.img10 img{
  grid-area: img10;
}

.img11 div{
  grid-area: img11;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#selectInterest {
  /* background-color: #3e6c43; */
  background-color: #3e6c439e;
  width: 100%;
  border-radius: 20px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  padding: 2%;
  /* box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%); */
  box-shadow: #000000 0px 4px 16px, rgb(0 0 0) 0px 8px 32px;
  /* border: 2px solid #dfe2d6; */
}

.flag img,
.countryImg img {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%);
}

.countryText {
  margin-left: 5%;
  align-items: center;
  display: flex;
}

.Country h3 {
  align-items: center;
  display: flex;
}

.boxBtnSelectInterests img,
.boxBtnSelectAvatars img {
  display: none;
}

.Box-photos > div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Box-photos > div p {
  color: beige;
  font-size: x-small;
}

.boxBtnSelectAvatars,
.boxBtnSelectInterests {
  display: flex;
  align-items: center;
}


.boxBtnSelectAvatars img,
.boxBtnSelectInterests img{
  width: 33px;
  height: 33px;
}

@media (max-width: 600px) {

  #Profile {
    width: 90vw;
    height: 100%;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0.05fr;
  }

  #selectPhoto {
    /* background-color: #3e6c43; */
    background-color: #3e6c439e;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    padding: 2%;
    margin-top: 5%;
    /* box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%); */
    box-shadow: #000000 0px 4px 16px, rgb(0 0 0) 0px 8px 32px;
}

#selectInterest {
  /* background-color: #3e6c43; */
  background-color: #3e6c439e;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  padding: 2%;
  margin-top: 5%;
  /* box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%); */
  box-shadow: #000000 0px 4px 16px, rgb(0 0 0) 0px 8px 32px;
  /* border: 2px solid #dfe2d6; */
}

  .selectProfile {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #EditProfile {
    display: flex;
    justify-content: center;
}
  .bodyEditProfile {
    grid-area: 2 / 1 / 7 / 3;
    /* background: #3e6c43; */
    background-color: #3e6c439e;
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 0.1fr 0.7fr 2.2fr 0.4fr 0.4fr 1.4fr;
    align-self: center;
    font-size: small;
    /* box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%); */
    box-shadow: #000000 0px 4px 16px, rgb(0 0 0) 0px 8px 32px;
}
  .bodyEditProfile {
    width: 100%;
    height: 100%;
}

  .containerSection {
    display: flex;
    flex-direction: column;
  }

  .nameUser {
    width: 60vw;
    margin-top: 0px;
    justify-self: center;
    margin-left: 0px;
  }

.titleEditProfile {
  grid-area: 1 / 1 / 2 / 3;
  align-self: center;
  justify-self: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

  #texta2 {
    width: 70vw;
    /* resize: none; */
  }

  .buttonSave h2 {
    width: 40vw;
  }

  .interests img {
    width: 55%;
    align-items: center;
    margin: 4%;
  }

  .photoProfile img {
    width: 80%;
  }

  .countryUserFlex {
    justify-content: initial;
    padding-top: 0px;
    margin-left: 10%;
  }

  .countryUserFlex select {
    width: 60%;
  }

  .titleWriteBio {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 30px;
  }

  #photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "img0 img1 img2"
      "img3 img4 img5"
      "img6 img7 img8"
      "img9 img10 img11";
  }

  .Profile h2{
    font-size: medium;
  }

  .boxBtnSelectInterests img,
  .boxBtnSelectAvatars img {
  display: block;
  margin: 2%;
  }

  .None {
    display: none !important;
  }

  .boxBtnSelectAvatars,
  .boxBtnSelectInterests {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
}

