/************* HEADER *************/

.header {
  height: 60px;
  background-color: rgb(21 32 36 / 69%);
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.87)),
    url("/src/img/Photos/img-10.jpg");
  background-size: cover;
  height: 800px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #000000bf;
}

.nav-link {
  text-decoration: none;
  color: beige;
}

.logo {
  width: 30%;
}

.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-menu-item {
  font-size: 18px;
  /* margin: 0 10px;
  line-height: 80px; */
  width: max-content;
}

.nav-menu-item img {
  width: 40%;
}

.nav-menu-item p {
  display: none;
}

.nav-menu-link {
  border-radius: 5px;
}

.nav-menu-link:hover {
  background-color: none;
  color: #84f0deea;
  transition: 0.5s;
}

.NavToggle {
  background-color: rgb(40 56 55 / 0%);
  border: none;
  display: none;
  cursor: pointer;
}

.MenuBar {
  width: 40px;
}

/************* HEADER  RESPONSIVE*************/

@media (max-width: 768px) {
  .logo {
    width: 60%;
  }

  .nav-menu {
    flex-direction: column;
    /* align-items: center; */
    /* list-style: none; */
    background-color: black;
    position: absolute;
    top: 62px;
    width: 100%;
    /* padding: 20px 0; */
    height: calc(100% - 80px);
    /* overflow-y: auto; */
    left: 100%;
    transition: left 0.3s;
    z-index: 5;
    /* padding: 10% 0% 0% 10.7%;*/
  }

  .nav-menu-item {
    display: flex;
  }

  .nav-menu-item img {
    width: 50px;
  }

  .nav-menu-item p {
    display: block;
  }

  .nav-menu-link:hover {
    background-color: none;
    color: #45aa4aea;
  }

  .NavToggle {
    display: block;
    margin-right: 5%;
  }

  .nav-menu_visible {
    left: 0;
    width: -webkit-fill-available;
    display: inline-grid;
    /* justify-items: start; */
    justify-content: center;
  }

  .MenuBar {
    width: 40px;
  }

  /* Hover of line */
  .nav-menu li {
    margin: 3%;
  }

  .nav-menu a {
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;
    column-gap: 10%;
    justify-content: space-around;
  }

  .nav-menu a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(
      to right,
      rgb(9, 117, 54),
      rgb(12, 119, 44),
      rgb(115, 207, 150)
    );
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }

  .nav-menu a:hover::before {
    transform: scaleX(1);
  }
  .nav-menu[data-animation="center"] a::before {
    transform-origin: center;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 60%;
  } 
  .nav-menu {
    top: 61px;
  } 
}
