@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.87)),
    url("../img/Photos/Gif1.gif");
  color: beige;
  background-size: cover;
  font-family: "Roboto";
}

/************* HEADER *************/

.header {
  height: 60px;
  background-color: rgb(21 32 36 / 69%);
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  font-family: Roboto;
}

main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.87)),
    url("/src/img/Photos/img-10.jpg");
  background-size: cover;
  height: 800px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #000000bf;
}

.nav-link {
  text-decoration: none;
  color: beige;
}

.logo {
  width: 30%;
}

.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-menu-item {
  font-size: 18px;
  /* margin: 0 10px;
  line-height: 80px; */
  width: max-content;
}

.nav-menu-item img {
  width: 40%;
}

.nav-menu-item p {
  display: none;
}

.nav-menu-link:hover {
  background-color: none;
  color: #84f0deea;
  transition: 0.5s;
}

.nav-menu-link {
  border-radius: 5px;
}

.NavToggle {
  background-color: rgb(40 56 55 / 0%);
  border: none;
  display: none;
  cursor: pointer;
}

.MenuBar {
  width: 40px;
}

/************* HEADER  RESPONSIVE*************/

@media (max-width: 768px) {
  .logo {
    width: 50%;
  }

  .nav-menu {
    flex-direction: column;
    /* align-items: center; */
    /* list-style: none; */
    background-color: black;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    /* padding: 20px 0; */
    height: calc(100% - 80px);
    /* overflow-y: auto; */
    left: 100%;
    transition: left 0.3s;
    z-index: 5;
    /* padding: 10% 0% 0% 10.7%;*/
  }

  .nav-menu-item {
    display: flex;
  }

  .nav-menu-item img {
    width: 50px;
  }

  .nav-menu-item p {
    display: block;
  }

  .nav-menu-link:hover {
    background-color: none;
    color: #45aa4aea;
  }

  .NavToggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
    display: block;
    width: -webkit-fill-available;
    display: inline-grid;
    /* justify-items: start; */
    justify-content: center;
  }

  .MenuBar {
    width: 40px;
  }

  /* Hover of line */
  .nav-menu li {
    margin: 3%;
  }

  .nav-menu a {
    position: relative;
    display: block;
    padding: 5px;
    display: flex;
    align-items: center;
    column-gap: 10%;
    justify-content: space-around;
  }

  .nav-menu a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(
      to right,
      rgb(9, 117, 54),
      rgb(12, 119, 44),
      rgb(115, 207, 150)
    );
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }

  .nav-menu a:hover::before {
    transform: scaleX(1);
  }
  .nav-menu[data-animation="center"] a::before {
    transform-origin: center;
  }
}

/************* PAGES GENERALS*****************/

#Search {
  background-color: greenyellow;
  height: 800px;
}
#EditProfile {
  background-color: rgb(50, 88, 172);
  height: 800px;
}
#AboutUs {
  background-color: brown;
  height: 800px;
}
#SignOut {
  background-color: rgb(206, 133, 24);
  height: 800px;
}

/***************** CONTAINER PUBLICATIONS (EVENTS, GALERY, PUBLICS, HISTORIAL) *****************/

/* Style the tab buttons */
.tablink {
  background-color: rgb(64, 133, 55);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: rgba(65, 64, 64, 0.637);
}

/* Set default styles for tab content */
.tabcontent {
  color: black;
  display: none;
  padding: 50px;
  text-align: center;
  height: 100%;
}

/* Style each tab content individually */
#publications {
  background-color: rgb(255, 255, 255);
}
#events {
  background-color: rgb(255, 255, 255);
}
#galery {
  background-color: rgb(255, 255, 255);
}
#historial {
  background-color: rgb(255, 255, 255);
}

.nav-Publications {
  display: block;
}

.footer-Publications {
  display: none;
}

.nav-Publications img {
  width: 15%;
}

/***************** CONTAINER PUBLICATIONS (EVENTS, GALERY, PUBLICS, HISTORIAL) RESPONSIVE *****************/

@media screen and (max-width: 600px) {
  .nav-Publications {
    display: none;
  }

  .footer-Publications {
    display: block;
  }

  .footer-Publications img,
  .nav-Publications img {
    width: 40%;
  }
}

.Avatar-img {
  width: 50%;
  border-radius: 100%;
  border-width: 5px;
  border-color: rgb(34, 100, 13);
  border-style: solid;
}

.Interests-Box img {
  width: 20%;
  border-radius: 100%;
  border-width: 2px;
  border-color: rgb(34, 100, 13);
  border-style: solid;
}

.linea2 {
  margin: 0rem 1rem;
  width: 100%;
  border-top: 0.03rem solid #999;
  position: relative;
}

.Avatar {
  display: flex;
  flex-direction: column;
}

.UserName {
  display: flex;
  flex-direction: column;
}
/***************** PAGE HOME GRID ******************/

.HomeBox {
  display: grid;
  grid-template-columns: 0.4fr 0.4fr 2.6fr;
  /* grid-template-rows:  0.3fr 0.7fr 0.2fr 0.4fr 0.3fr; */
  gap: 0% 0%;
  grid-auto-flow: row dense;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "UserName UserName Publications"
    "Avatar Avatar Publications"
    "User Country Publications"
    "Bio Bio Publications"
    "Interests Interests Publications";
  height: 700px;
}

.UserName {
  grid-area: UserName;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.Avatar {
  grid-area: Avatar;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.User {
  grid-area: User;
  display: flex;
  text-align: center;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding-left: 15%;
  line-height: 160%;
}

.Country {
  grid-area: Country;
  display: flex;
  text-align: center;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding-left: 18%;
  line-height: 160%;
}

.Bio {
  grid-area: Bio;
  display: flex;
  text-align: justify;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.Bio h3 {
  margin: 0 0 5% 8%;
}

.Bio p {
  margin: 0 8% 5% 8%;
}

.Interests {
  grid-area: Interests;
  display: flex;
  text-align: center;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.Interests h3 {
  margin: 0 0 5% 8%;
}

.Publications {
  grid-area: Publications;
}

/***************** PAGE HOME GRID RESPONSIVE ******************/

@media screen and (max-width: 600px) {
  .HomeBox {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1.7fr;
    /* grid-template-rows: 0.4fr 1.5fr 0.2fr 1.5fr 1.1fr; */
    gap: 0% 0%;
    grid-auto-flow: row dense;
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "UserName UserName UserName"
      "Avatar Avatar Bio"
      "User Country Interests"
      "Publications Publications Publications"
      "Publications Publications Publications";
    height: 600px;
  }

  .HomeBox h3 {
    font-size: small;
  }

  .HomeBox p {
    font-size: small;
  }

  .UserName {
    grid-area: UserName;
    height: 80px;
  }

  .Avatar {
    grid-area: Avatar;
  }

  .User {
    grid-area: User;
    align-items: end;
  }

  .Country {
    grid-area: Country;
    align-items: end;
  }

  .Bio {
    grid-area: Bio;
  }

  .Interests {
    grid-area: Interests;
    padding-bottom: 5%;
  }

  .Publications {
    grid-area: Publications;
  }

  .Avatar-img {
    width: 80%;
    border-radius: 100%;
    border-width: 5px;
    border-color: rgb(34, 100, 13);
    border-style: solid;
  }

  .Interests-Box img {
    width: 20%;
    border-radius: 100%;
    border-width: 2px;
    border-color: rgb(34, 100, 13);
    border-style: solid;
  }

  .Avatar .linea2 {
    display: none;
  }
}

/************ ABOUS PAGE ***********/

#AboutUs {
  background-color: rgb(255, 255, 255);
  height: 1000px;
  margin: 0 20%;
}

.AboutUsText {
  padding: 0 5% 3% 5%;
} 

#AboutUs h1 {
  color: rgb(9, 54, 9);
  font-size: large;
}

#AboutUs h3 {
  color: rgb(9, 54, 9);
  font-size: medium;
}

#AboutUs p {
  color: rgb(0, 0, 0);
  font-size: small;
}

#AboutUs ul {
  color: rgb(0, 0, 0);
  font-size: small;
}


.LogoLargeDiv {
  text-align: center;
}

.LogoLarge {
  width: 100%;
}

.FounderImg {
  text-align: center;
}

.FounderImg img {
  width: 50%;
}

.FounderRedSocial-Box {
  display: flex;
  justify-content: space-around;
}

.FounderRedSocial-Box1 {
  display: flex;
  flex-direction: column;
}

.FRS-div1 {
  display: flex;
}

.RedSocialContainerImg {
  margin: 8% 5%;
  border-radius: 50%;
  background-color: rgb(15, 102, 15);
  text-align: center;
}



