@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.contenedorLoader {
    background-color: #f3f3f3 ;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: all 1.5s;
}

.loader img {
    width: 10rem; 
}
 
