/* **************SECCION DE PUBLICACIONES *****************/
/* .Publications p,
.PublicationsN p  {
  color: black;
  font-weight: bold;
  margin: 1rem;
} */

.photoPerfil img,
.photoPerfilN img {
  width: 4rem;
  border-radius: 100%;
  border-width: 3px;
  border-color: rgb(32 35 31);
  border-style: solid;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
}

.boxPublications {
  display: flex;
  width: 80%;
  align-items: center;
  background: #a1a1a1;
  padding: 1rem;
  border-radius: 1rem;
  /* box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em, rgb(0 0 0 / 25%) 0px 0.125em 0.5em, rgb(255 255 255 / 10%) 0px 0px 0px 1px inset; */
  box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%);
  margin: 1rem;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.boxPublicationsN {
  display: flex;
  width: 80%;
  align-items: center;
  background: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  /* box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em, rgb(0 0 0 / 25%) 0px 0.125em 0.5em, rgb(255 255 255 / 10%) 0px 0px 0px 1px inset; */
  box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%);
  margin: 1rem;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.publication input {
  width:200px;
  height:15px;
}

.publication #texta2 {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  resize: none;
  background: #F5F2F2;
  /* justify-content: unset; */
  justify-content: center;
  padding: 0.5rem;
  margin: 0.2rem;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
  box-shadow:  1px 1px 2px 1px rgb(25 27 28 / 30%);
  color: black;
  font-weight: bold;
}

.save .btnCancel {
  background-color: rgb(194, 53, 53);
  width: 90px;
  height: 100%;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  padding: 0.5rem;
  margin: 2%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.save .btnSave {
  background-color: rgb(44, 45, 46);
  width: 100px;
  height: 100%;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  padding: 0.5rem;
  margin: 2%;
  box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%);
}

.publication,
.publicationN {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0.3rem;
}

#publicado,
#publicadoN {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.contentPublicationN {
  overflow-wrap: break-word;
  background-color: #e6dece;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%);
  text-align: justify;
}

.boxPhotoandName,
.boxPhotoandNameN {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boxPhotoandName p,
.boxPhotoandNameN p {
  color: black;
  font-weight: bold;
  margin: 1rem;
}

.boxInternoPhotoandName,
.boxInternoPhotoandNameN {
  display: flex;
  flex-direction: row;
}

.contentPublicationN p {
  /* width: 100%; */
  white-space: pre-line;
  font-size: small;
  color: black;
  font-weight: bold;
  margin: 1rem;
}

.btnDelete { 
  text-align: end;
  width: 100%;
  border-style: none;
  background: none;
}
.btnDelete img {
  width: 25%;
}

.save p,
.saveN p {
  margin: 0;
  color: rgb(13, 92, 13);
  font-weight: bold;
}

.NoneboxPublications {
  display: none;
}

.saveN {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.saveN img {
  width: 22%;
}

.modalCheckPost {
  display: none;
}

.AlertmodalCheckPost {
  color: #186e1d;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: small;
}

.AlertmodalCheckPost img {
  width: 5%;
  margin: 2%;
}

@media screen and (max-width: 760px) {
  .contentPublicationN p {
    width: 227px;
    white-space: pre-line;
  }

  .btnPublic img {
    width: 10%;
    margin: 3% 3% 0 0;
  }
  .PublicationsContentN {
    background-color: gray;
    width: 100%;
    padding-bottom: 10%;
}
}

/* Modal para cancelar post*/

.btns {
  display: flex;
}

.modal-contenido{
  background-color:aqua;
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}
.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}

#miModal:target{
  opacity:1;
  pointer-events:auto;
}

/* <button id='btnCancel' class='btnCancel'><a href="#miModal">CANCEL</a></button>
  <div id="miModal" class="modal">
    <div class="modal-contenido">
      <a href="#">X</a>
      <h2>Estas seguro que deseas cancelar la publicación</h2>
      <div class="btns">
        <button id='btnYes' class='btnCancel'>Yes</button>
        <button id='btnNo' class='btnSave'>No</button>
      </div> 
    </div>  
  </div> */
  /* button id='btnDelete' class='btnDelete' data-ref='${idPublication}><a href="#miModal"><img src='img/Icons/Delete.png' alt=''></a></button>
  <div id="miModal" class="modal">
    <div class="modal-contenido">
      <a href="#home">X</a>
      <h2>Estas seguro que deseas eliminar la publicación</h2>
      <div class="btns">
        <button class='btnCancel'>Yes</button>
        <button class='btnSave'><a href="#home">No</a></button>
      </div> 
    </div>   */
/* 
    <div id="miModal" class="modal">
            <div class="modal-contenido">
              <a href="#home">X</a>
              <h2>Estas seguro que deseas eliminar la publicación</h2>

              <div class="btns">
                <button data-ref='${idPublication}' class='btnCancel'>Yes</button>
                <button class='btnSave'><a href="#home">No</a></button>
              </div> 
            </div>
          </div> */