@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
  margin: 0px;
  font-family: Roboto;
}

.BoxSignUp {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "BoxWelcome1 BoxFormLogin"; 
  justify-content: stretch; 
  align-content: stretch; 
  justify-items: stretch; 
  align-items: stretch; 
}

.BoxWelcome2 {
  justify-self: stretch; 
  align-self: stretch; 
  grid-area: BoxWelcome1; 
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.BoxFormSignUp {
  justify-self: stretch; 
  align-self: stretch; 
  grid-area: BoxFormLogin; 
  background-color: rgb(7 47 18 / 80%);
  height: 100vh;
  display: flex;
}

.logoSignIn {
  background-color: #000000c4;
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, 0);
  width: 30%;
}

.containerSignUp {
  border: 1px solid gray;
  height: 450px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

.inputSignUp {
  border-radius: 10px;
  width: 220px;
  height: 30px;
  border-color: 1px solid gray;
  margin: 3%;
}

.signupbtn {
  border: none;
  background-color: gray;
  width: 150px;
  height: 30px;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
  color: white;
  box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%)
}

.LoginGooglebtn {
  background-color: rgb(194, 53, 53);
  width: 150px;
  height: 30px;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
  color: white;
  border: none;
  box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%)
}

.LoginGooglebtn:hover,
.signupbtn:hover {
  opacity: 8;
}

.clearfix {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 5%;
}