/************** GENERAL STYLE **************/

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.87)),
    url("../img/Photos/Gif1.gif");
  color: beige;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

::-webkit-scrollbar {
  width: 0px;
  background: rgba(0, 0, 0, 0.993);
}

::-webkit-scrollbar-track {
  background: rgba(61, 55, 55, 0.795);
}

::-webkit-scrollbar-thumb {
  background: #24e26d75;
  border-radius: 10px;
}

/************** PAGE STYLE **************/

/* Place text in the middle of the image */
.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ButtonBox1 {
  display: flex;
  flex-direction: column;
}

.Logo1 {
  display: flex;
  justify-content: center;
}

.logoHome {
  background-color: rgba(12, 12, 12, 0.705);
  border-radius: 150px;
  border: 1px solid rgba(128, 128, 128, 0);
  width: 25%;
  margin: 3%;
  padding: 2%;
}

.text-home {
  font-size: small;
  width: 260px;
  margin: 20px;
  text-align: center;
  font-weight: bold;
}

.btn-welcome-google{
  background-color: rgb(194, 53, 53);
  width: 270px;
  height: 100%;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  padding: 4%;
  margin: 2%;
  box-shadow: 3px 3px 5px 3px rgb(25 27 28 / 91%)

}

.btn-welcome-signin,
.btn-welcome-signup {
  background-color: rgb(44, 45, 46);
  width: 270px;
  height: 100%;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  padding: 4%;
  margin: 2%;
  box-shadow: 1px 1px 2px 1px rgb(25 27 28 / 60%)
}

.kmr {
  margin:  1.61%;
  font-weight: bolder;
}

.btn-welcome-google:hover,
.btn-welcome-signin:hover,
.btn-welcome-signup:hover {
  opacity: 8;
}


@media screen and (min-width: 400px) and (max-width: 800px) {
  .btn-welcome-google,
  .btn-welcome-signin,
  .btn-welcome-signup {
    width: 200px;
    height: 50px;
  }
  .text-home {
    width: 190px;
    margin: 8%;
  }
  .logoHome {
    width: 50%;
    margin: 13% 0;
  }
  .kmr {
    margin: 10%;
    font-weight: bolder;
  }

  .containerSignIn {
    width: 15rem;
  }
}

@media screen and (min-width: 204px) and (max-width: 200px) {
  .btn-welcome-google,
  .btn-welcome-signin,
  .btn-welcome-signup {
    width: 200px;
    height: 40px;
  }
  .text-home {
    width: 190px;
    margin: 8%;
  }
  .logoHome {
    width: 50%;
    margin: 13% 0;
  }
  .kmr {
    margin: 12%;
    font-weight: bolder;
  }
}



@media screen and (min-width: 222px) and (max-width: 280px) {
  .containerSignIn {
    width: 16rem;
  }
}

@media screen and (min-width: 73px) and (max-width: 203px) {
  .btn-welcome-google,
  .btn-welcome-signin,
  .btn-welcome-signup {
    width: 150px;
  }
  .text-home {
    width: 140px;
    margin: 5%;
  }
  .logoHome {
    width: 60%;
    margin: 30% 0;
  }
}

@media screen and (min-height: 630px) and (min-height: 640px){
  .hero-text {
    height: 640px;
  }
  .logoHome {
    width: 40%;
    margin: 8% 0;
    border-radius: 100%;
  }
}
@media screen and (min-height: 700px) and (min-height: 720px){
  .hero-text {
    height: 735px;
  }
  .logoHome {
    width: 40%;
    margin: 8% 0;
    border-radius: 100%;
  }
}

@media screen and (min-height: 800px) and (min-height: 812px){
  .hero-text {
    height: 812px;
  }
}



@media screen and (min-height: 1000px) and (min-height: 1024px){
  .hero-text {
    height: 1024px;
  }
  .logoHome {
    width: 50%;
    margin: 13% 0;
    border-radius: 100%;
  }
}

@media screen and (min-height: 1000px) and (min-height: 1366px){
  .hero-text {
    height: 1366px;
  }
  .logoHome {
    width: 50%;
    margin: 13% 0;
    border-radius: 100%;
  }
  p {
    font-size: large;
  }
}