@import 'styles/preBienvenida.css';
@import 'styles/welcome.css';
@import 'styles/terms.css';
@import 'styles/signup.css';
@import 'styles/signin.css';
@import 'styles/forgotPassw.css';
@import 'styles/home.css';
@import 'styles/aboutUs.css';
@import 'styles/error.css';
@import 'styles/header.css';
@import 'styles/editProfile.css';
@import 'styles/search.css';
@import 'styles/publications.css';

